/* layout codes */
.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

/* My codes */

img {
  width: 100%;
  border-radius: 2%;
  margin-top: 7.5%;
}

input,
textarea {
  width: 100%;
}

button {
  padding: 0.4rem 0.9rem;
}

a {
  width: 4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.inline-block-align {
  display: inline-block;
  display: flex;
  align-items: center;
}

.float-right {
  float: right;
}

.no-padding {
  padding: 0;
}

.justify-between {
  justify-content: space-between;
}

.nav-entries {
  margin-left: 1rem;
}

.save-delete-div {
  display: flex;
  justify-content: space-between;
}

.padding-top {
  padding-top: 1rem;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.651);
  top: 0;
  left: 0;
  display: ;
}

.modal-content {
  background-color: rgb(255 255 255);
  width: 25rem;
  height: 8rem;
  border-radius: 5px;
  position: fixed;
  top: 10rem;
  left: 9rem;
}

.cancel-confirm-buttons {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
}

.modal-text {
  padding-left: 2rem;
}
