* {
  font-family: Ruda, sans-serif;
}

body {
  background-color: #eee;
}

header {
  background-color: #1c658c;
  color: white;
  font-size: ;
}

input,
textarea,
button {
  font-family: "Roboto Slab", sans-serif;
}

button {
  background-color: #1c658c;
  color: white;
  border-radius: 0.2rem;
  border-style: none;
}
