* {
  font-family: Ruda, sans-serif;
}

body {
  background-color: #eee;
}

header {
  background-color: #1c658c;
  color: white;
  padding-bottom: 1rem;
}

input,
textarea {
  font-family: "Roboto Slab", sans-serif;
}
